#list{
    height: 100%;
    background-color: #F0F0F0;
    overflow-y:auto;
    position: relative;
    /*background-image:url("../images/background3.png");*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
}

#list #image1{
    width: 26%;
    float: left;
    height: 100%;
}

#list #list_div{
    width: 48%;
    float: left;
    height: 90%;
    background-color: white;
    padding-top: 40px;
    overflow-y:auto;
}

#list #image2{
    width: 26%;
    float: left;
    height: 100%;
}

#list #list_div ul{
    font-size: 22px;
    color: #008a8a;
    margin: 60px 40px 0 40px;
    list-style: none;
    font-family: "楷体","楷体_GB2312";
    padding: 0 40px;
}

#list #list_div ul li{
    padding: 10px 0;
}
#list #list_div ul li a p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#list #list_div ul li a p:hover{
    color: red;
}